@model IEnumerable<PropertyViewModel>

<!-- properties-grid
============================================= -->
<section id="properties-grid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <!-- widget property type -->
                <div class="widget widget-property">
                    <div class="widget--title">
                        <h5>Property Type</h5>
                    </div>
                    <div class="widget--content">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#">Apartments <span>(13)</span></a>
                            </li>
                            <li>
                                <a href="#">Houses <span>(8)</span></a>
                            </li>
                            <li>
                                <a href="#">Offices <span>(3)</span></a>
                            </li>
                            <li>
                                <a href="#">Villas <span>(4)</span></a>
                            </li>
                            <li>
                                <a href="#">Land <span>(2)</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- widget property status -->
                <div class="widget widget-property">
                    <div class="widget--title">
                        <h5>Property Status</h5>
                    </div>
                    <div class="widget--content">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#">For Rent <span>(25)</span></a>
                            </li>
                            <li>
                                <a href="#">For Sale <span>(32)</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- widget property by city -->
                <div class="widget widget-property">
                    <div class="widget--title">
                        <h5>Property By City</h5>
                    </div>
                    <div class="widget--content">
                        <ul class="list-unstyled mb-0">
                            @if (Model != null && Model.Any())
                            {
                                @foreach (var city in Model)
                                {
                                    <li>
                                        <a href="#">@city.PropertyDetails?.City</a>
                                    </li>
                                }
                            }
                            else
                            {
                                <li>No properties available.</li>
                            }
                        </ul>
                    </div>
                </div>
                <!-- widget featured property -->
                <div class="widget widget-featured-property">
                    <div class="widget--title">
                        <h5>Featured Properties</h5>
                    </div>
                    <div class="widget--content">
                        <div class="carousel carousel-dots" data-slide="1" data-slide-rs="1" data-autoplay="false" data-nav="false" data-dots="true" data-space="0" data-loop="true" data-speed="800">
                            <div class="property-item">
                                <div class="property--img">
                                    <img src="assets/images/properties/13.jpg" alt="property image" class="img-responsive">
                                    <span class="property--status">For Rent</span>
                                </div>
                                <div class="property--content">
                                    <div class="property--info">
                                        <h5 class="property--title"><a href="property-single-gallery.html">House in Chicago</a></h5>
                                        <p class="property--location">1445 N State Pkwy, Chicago, IL 60610</p>
                                        <p class="property--price">$1200<span class="time">month</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="property-item">
                                <div class="property--img">
                                    <img src="assets/images/properties/2.jpg" alt="property image" class="img-responsive">
                                    <span class="property--status">For Rent</span>
                                </div>
                                <div class="property--content">
                                    <div class="property--info">
                                        <h5 class="property--title"><a href="property-single-gallery.html">Villa in Oglesby Ave</a></h5>
                                        <p class="property--location">1035 Oglesby Ave, Chicago, IL 60617</p>
                                        <p class="property--price">$130,000<span class="time">month</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="property-item">
                                <div class="property--img">
                                    <img src="assets/images/properties/3.jpg" alt="property image" class="img-responsive">
                                    <span class="property--status">For Sale</span>
                                </div>
                                <div class="property--content">
                                    <div class="property--info">
                                        <h5 class="property--title"><a href="property-single-gallery.html">Apartment in Long St.</a></h5>
                                        <p class="property--location">34 Long St, Jersey City, NJ 07305</p>
                                        <p class="property--price">$70,000</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main property grid -->
            <div class="col-xs-12 col-sm-12 col-md-8">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="properties-filter clearfix">
                            <div class="select--box pull-left">
                                <label>Sort by:</label>
                                <select>
                                    <option selected="" value="Default">Default Sorting</option>
                                    <option value="Newest">Newest Items</option>
                                    <option value="Oldest">Oldest Items</option>
                                    <option value="Hot">Hot Items</option>
                                    <option value="HighestPrice">Highest Price</option>
                                    <option value="LowestPrice">Lowest Price</option>
                                </select>
                            </div>
                            <div class="view--type pull-right">
                                <a id="switch-list" href="#" class=""><i class="fa fa-th-list"></i></a>
                                <a id="switch-grid" href="#" class="active"><i class="fa fa-th-large"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="properties properties-grid">
                        @if (Model != null && Model.Any())
                        {
                            @foreach (var property in Model.Where(p => p.AdvertisementStatusId == 2))
                            {
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <!-- .property-item -->
                                    <div class="property-item">
                                        <div class="property--img">
                                            <a href="property-single-gallery.html">
                                                <img src="~/assets/images/properties/@property.Id" alt="property image" class="img-responsive">
                                            </a>
                                            <span class="property--status">Active</span>
                                        </div>
                                        <div class="property--content">
                                            <div class="property--info">
                                                <h5 class="property--title">
                                                    <a href="property-single-gallery.html">@property.Title</a>
                                                </h5>
                                                <p class="property--location">@property.Description</p>
                                                <p class="property--price">@property.PropertyPrice?.ToString("C")</p>
                                            </div>
                                            <div class="property--features">
                                                <ul class="list-unstyled mb-0">
                                                    <li><span class="feature">Beds:</span><span class="feature-num">@property.PropertyDetails?.Bedrooms</span></li>
                                                    <li><span class="feature">Baths:</span><span class="feature-num">@property.PropertyDetails?.Bathrooms</span></li>
                                                    <li><span class="feature">Area:</span><span class="feature-num">@property.PropertyDetails?.Area sq ft</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <p>No properties available with status 2.</p>
                        }
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 text-center mt-50">
                        <ul class="pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">...</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #properties-grid  end  -->
