@{
    Layout = null;
}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <!-- Document Meta
    ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--IE Compatibility Meta-->
    <meta name="author" content="zytheme" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Real Estate html5 template">
    <link href="~/MAIN_FILES/Lalan/assets/images/favicon/favicon.png" rel="icon">

    <!-- Fonts
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CPoppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Stylesheets
    ============================================= -->
    <link href="~/MAIN_FILES/Lalan/assets/css/external.css" rel="stylesheet">
    <link href="~/MAIN_FILES/Lalan/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/MAIN_FILES/Lalan/assets/css/style.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- Document Title
    ============================================= -->
    <title>LandPro | Real Estate Html5 Template</title>
</head>

<body>
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="wrapper clearfix">
        @Html.Partial("~/Views/Shared/Components/_NavbarPartial/Default.cshtml")
        <!-- Hero Search
        ============================================= -->
        @Html.Partial("~/Views/Shared/Components/_HomeSliderPartial/Default.cshtml")

        <!-- #property-single-slider end -->
        <!-- properties-carousel
        ============================================= -->
        @Html.Partial("~/Views/Shared/Components/RealEstateCarouselPartial/Default.cshtml")
        <!-- #properties-carousel  end  -->
        <!-- Feature
        ============================================= -->
        @Html.Partial("~/Views/Shared/Components/_FeatureStepsPartial/Default.cshtml")
        <!-- .feature end -->
        <!-- city-property
        ============================================= -->
       
        <!-- .city-property end -->
        <!-- agents
        ============================================= -->
 
        <!-- #agents end  -->
        <!-- cta #1
        ============================================= -->
        <!-- #cta1 end -->
        <!-- Footer #1
        ============================================= -->
        @Html.Partial("~/Views/Shared/Components/_FooterPartial/Default.cshtml")
    </div>
    <!-- #wrapper end -->
    <!-- Footer Scripts
    ============================================= -->
    <script src="~/MAIN_FILES/Lalan/assets/js/jquery-2.2.4.min.js"></script>
    <script src="~/MAIN_FILES/Lalan/assets/js/plugins.js"></script>
    <script src="~/MAIN_FILES/Lalan/assets/js/functions.js"></script>
</body>

</html>
